body{
	margin: 0px;
	background-color: white;
	font-family: Helvetica;
	color: white;
	
}

p{
	font-family: helvetica;
	color: white;
}

.floatedText{
	clear: left;
}

div{
	width: 200px;
	height: 200px;
}

.even{
	background-color: red;
	float: left;
}

.odd{
	background-color: orange;
	float: left;
	font-size: 50px;
	vertical-align: text-bottom;
}

#containerDiv{
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: center;
	width: 90%;
	height: 600px;
	background-color: #999999;
	float: none;
}

#footer{
	background-color: red;
	float: clear;
	width: 95%;
	height: 50px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	
}